<div *ngIf="radioData" class="container">
    <a href={{radioData.homepage.url}}>
      <img src="../../../assets/ylex.png">
    </a>

    <div *ngIf="nowPlaying">
      <p class="largetitle" *ngIf="nowPlaying">{{nowPlaying[0].partOf.title.fi}}</p>
      <div *ngFor="let song of nowPlaying">
        <div class="row.title">
          <div class="centertitle" [ngClass]="{'current': checkCurrentSong(song.startTime, song.endTime)}">
            {{song.content.performer[0].name}}
            :
            {{song.content.title.unknown}}
          </div>
        </div>
      </div>
    </div>
    
</div>
