
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a{
  display: flex;
  justify-content: center;
}

img {
  max-width: 60%;
}

.interactions-container {
  display: flex;
  flex-direction: row;
}

.current {
  color: white;
}