.guide-container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

.guide-item {
  display: flex;
  width: 32%;
  flex-direction: column;
}

img {
  align-self: center;
  max-width: 300px;
}

.channel-container {
  border: 1px solid;
  border-radius: 3px;
}