<div class="guide-container">

  <span></span>
  <div class="yle-tv1">
    <img src='../../../assets/Yle-TV1-HD-Black-RGB-vertical.png'/>
    <div class="channel-container" *ngFor="let porgramData of yleTv1Programs">
      <p>ohjelma</p>
    </div>
  </div>

  <div class="yle-tv2">
    <img src='../../../assets/Yle-TV2-HD-Black-RGB-vertical.png'/>
    <div class="channel-container" *ngFor="let porgramData of yleTv2Programs">
      <p>ohjelma</p>

    </div>
  </div>

  <div class="yle-areena">
    <img src='../../../assets/yle-areena-black.png'/>
    <div class="channel-container" *ngFor="let porgramData of yleAreenaPrograms">
      <p>ohjelma</p>

    </div>
  </div>
  <span></span>

</div>