<div class="guide-container">

  <div class="guide-item">
    <img src='../../../assets/yle-tv1.png'/>
    <div class="channel-container" *ngFor="let programData of yleTv1Programs">
      <p>{{programData.content.title.fi}}</p>
      <p>{{programData.startTime}}</p>
    </div>
  </div>

  <div class="guide-item">
    <img src='../../../assets/yle-tv2.png'/>
    <div class="channel-container" *ngFor="let programData of yleTv2Programs">
      <p>{{programData.content.title.fi}}</p>
      <p>{{programData.startTime}}</p>
    </div>
  </div>

  <div class="guide-item">
    <img src='../../../assets/yle-areena.png'/>
    <div class="channel-container" *ngFor="let programData of yleAreenaPrograms">
      <p>{{programData.content.title.fi}}</p>
      <p>{{programData.startTime}}</p>
    </div>
  </div>

</div>