.guide-container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

.guide-item {
  display: flex;
  width: 32%;
  flex-direction: column;
}

img {
  align-self: center;
  width: 100%;
  background-color: lightgray;
}

.channel-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
}

