<app-guide></app-guide>

<input #search (keyup.enter)="doSearch(search.value)" />
<button (click)="doSearch(search.value)">Search</button>
<p>Näytetään: {{searchValue}}</p>

<div class="container">
  <div class="card" *ngFor="let program of programsArray">
      {{ program.title.fi }}
      {{ program.publicationEvent[0].service.id }}
      <ng-container
        [ngTemplateOutlet]="program.image.available ? programImg : channelImg" 
        [ngTemplateOutletContext]="{program: program}">
      </ng-container>
  </div>
</div>

<ng-template #programImg let-program="program">
  <img class="img" src="http://images.cdn.yle.fi/image/upload/{{program.image.id}}.jpg">
</ng-template>

<ng-template #channelImg let-program="program"> 
  <img class="img" src="../../../assets/{{program.publicationEvent[0].service.id}}.png" onerror="this.src=''">
</ng-template>