.container {
}

.card {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #afafaf98;
  margin: 30px auto 30px auto;
  border-radius:5px;
  width: 50%;
  min-width: 400px;
  height: 20%;
  min-height: 400px;
}

.img {
  max-width: 50%;
}